.LawContent > h2, .LawContent > h4 {
  text-align: center;
  margin: 2rem;
}
.Select {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem 2.5rem;
    font-size: 1.4rem;
    outline: none;
    font-weight: 600;
}

.Select > * {
    text-align: center;
}

.search {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 80%;
  border-radius: 25px;
  padding: 7px;
  outline: none;
  border: 1px solid gray;
  box-shadow: 0 0 3px 3px rgba(197, 197, 197, 0.208);
  font-size: 1.1rem;
}