.main {
    height: calc(100vh);
}

.embla {
  overflow: hidden;
  height: 100%;
}
.embla__container {
  display: flex;
}
.embla__slide {
display: flex;
  flex: 0 0 100%;
  height: 100vh;
  flex-direction: column;
  min-width: 0;
  position: relative;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 1.5rem;
}

.embla__slide h1 {
    font-size: 5rem;
}

.embla__slide img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: -6rem;
    z-index: -2;
}

.overlay {
  position: absolute;
  inset: 0;
  background:  linear-gradient(rgba(2, 50, 118, 0.548), rgba(255, 255, 255, 0.11));
  z-index: -1;
}

/************ ABOUT US *************/
.aboutUs {
    width: 90%;
    margin: 0rem auto;
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-between;
    align-items: center;
}

.aboutUs img {
    height: 400px;
    width: 500px;
    object-fit: contain;
    border-radius: 50%;
}

.aboutUs h1 {
    margin-bottom: 40px;
    font-weight: 800;
}

.aboutUs p {
    opacity: 0.7;
}

/*********** Services **********/

.services {
    text-align: center;
    margin: 6rem auto;
    width: 90%;
}

.services .title {
    font-weight: 900;
}

.services .serviceGrid {
    display: grid;
    grid-template-columns: repeat(3, 20%);
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 5rem;
    gap: 3rem;
}

.services .serviceGrid div {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services .serviceGrid img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 1rem;
    object-fit: cover;
    box-shadow: 0 0 9px 12px rgba(84, 255, 215, 0.181);
}

.services .serviceGrid p {
    font-size: 1.2rem;
    font-weight: 600;
    opacity: 0.7;
}

.footer {
    text-align: center;
    background-color: rgb(192, 191, 191);
    color: white;
    padding: 5px;
}