.main {
    height: calc(100vh);
}

.embla {
  overflow: hidden;
  height: 100%;
}
.embla__container {
  display: flex;
}
.embla__slide {
display: flex;
  flex: 0 0 100%;
  height: 100vh;
  flex-direction: column;
  min-width: 0;
  width: 90%;
  margin: 0 auto;
  position: relative;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 1.5rem;
}

.embla__slide h1 {
    font-size: 5rem;
}

.embla__slide img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: -6rem;
    z-index: -2;
}

.overlay {
  position: absolute;
  inset: 0;
  background:  linear-gradient(rgba(2, 50, 118, 0.548), rgba(255, 255, 255, 0.11));
  z-index: -1;
}

/************ ABOUT US *************/
.aboutUs {
    width: 90%;
    margin: 0rem auto;
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-between;
    align-items: center;
}

.aboutUs img {
    height: 400px;
    width: 500px;
    object-fit: contain;
    border-radius: 50%;
}

.aboutUs h1 {
    margin-bottom: 40px;
    font-weight: 800;
}

.aboutUs p {
    opacity: 0.7;
}

/*********** Services **********/

.services {
    text-align: center;
    margin: 6rem auto;
    width: 90%;
}

.services .title {
    font-weight: 900;
}

.services .serviceGrid {
    display: grid;
    grid-template-columns: repeat(3, 20%);
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 5rem;
    gap: 3rem;
}

.services .serviceGrid div {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.services .serviceGrid img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 1rem;
    object-fit: cover;
    box-shadow: 0 0 9px 12px rgba(84, 255, 215, 0.181);
}

.services .serviceGrid p {
    font-size: 1.2rem;
    font-weight: 600;
    opacity: 0.7;
}


@media screen and (max-width: 1270px) {
    
    .embla__slide h1 {
        font-size: 4rem;
    }
/************ ABOUT US *************/
.aboutUs {
    width: 90%;
    grid-template-columns: repeat(2, 48%);
}

.aboutUs img {
    height: 392px;
    width: 450px;
}

/*********** Services **********/


.services .title, .aboutUs h1 {
    font-size: 1.9rem;
}





}


@media screen and (max-width: 1070px) {
    
    .embla__slide h1 {
        font-size: 3.2rem;
    }

    /************ ABOUT US *************/
.aboutUs {
    width: 90%;
    grid-template-columns: repeat(2, 47%);
}

.aboutUs img {
    height: 380px;
    width: 370px;
}

/*********** Services **********/


.services .title, .aboutUs h1 {
    font-size: 1.6rem;
}


.services .serviceGrid {
    grid-template-columns: repeat(3, 23%);
    gap: 2rem;
}

.services .serviceGrid div {
    width: 280px;
    height: 280px;
}

.services .serviceGrid img {
    width: 170px;
    height: 170px;
}

.services .serviceGrid p {
    font-size: 1.1rem;
}


}


@media screen and (max-width: 850px) {
    
    .embla__slide h1 {
        font-size: 2.2rem;
    }

    .embla__slide p {
        font-size: 1rem;
    }

    
    /************ ABOUT US *************/
        .aboutUs {
            width: 90%;
            grid-template-columns: 1fr;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            text-align: center;
        }

        .aboutUs img {
            display: flex;
            height: 380px;
            width: 370px;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
        }

        /*********** Services **********/


    .services .title, .aboutUs h1 {
        font-size: 1.4rem;
    }

    
.services .serviceGrid {
    grid-template-columns: repeat(2, 50%);
    gap: 2rem;
}

    .services .serviceGrid div {
        width: 250px;
        height: 250px;
    }


}


@media screen and (max-width: 650px) {
    
    .embla__slide h1 {
        font-size: 1.8rem;
    }

    .embla__slide p {
        font-size: 0.9rem;
    }

    /*********** Services **********/


.services .title, .aboutUs h1 {
    font-size: 1.2rem;
}


   
.services .serviceGrid {
    grid-template-columns: 1fr;
    gap: 2rem;
}

    .services .serviceGrid div {
        width: 250px;
        height: 250px;
        margin: 0 auto;
    }
}